#profile-page {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
  width: 100vw;
  height: 45rem;
  border: solid 1px gray;
  box-shadow: 0 0 20px black;
  background-color: var(--primary-lightest);
}

#info {
  background-color: aqua;
  width: 38rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

#content {
  background-color: aqua;
  width: 38rem;
  display: flex;
  flex-direction: column;
}
