/* Portfolio Intro Section */

#portfolio-intro {
  margin: 2rem auto;
}

#intro-img {
  width: 90rem;
}

#intro-img img {
  width: 90rem;
  height: 12rem;
  object-fit: cover;
}

#portfolio-intro h2 {
  color: whitesmoke;
  margin: -13rem;
  font-family: "Lora", sans-serif;
  text-align: center;
  filter: opacity(0.8);
  font-size: 12rem;
  text-shadow: var(--shadow-default);
}
